{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'ecomv1/css/loginpage.css' %}">
{% endblock %}  
{% block javascript %}

<script src="{% static 'ecomv1/js/loginpage.js' %}"></script>

{% endblock %}  
{% block content%}
<div class="container">
	<div class="login-container">
            <div id="output"></div>
            <div class="avatar"></div>
            <div class="form-box">
                <form action="/postsignIn/" method="POST">
                {% csrf_token %}
                    <input name="email" type="text" placeholder="username">
                    <input name="pass" type="password" placeholder="password">
                    <button class="btn btn-info btn-block login" type="submit">Login</button>
                </form>
            </div>
        </div>
        
</div>
{% endblock %}
